{erl_opts, [debug_info]}.
{deps, [
    {nxtfr_event, ".*", {git, "https://github.com/nxtfr/nxtfr_event.git", {branch, "main"}}},
    {nxtfr_autodiscovery, ".*", {git, "https://github.com/nxtfr/nxtfr_autodiscovery.git", {branch, "main"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [nxtfr_queue]}
]}.
